body { background: #39ec39; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-email-0 { color: #63a1c7; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #d6604e; font-size: 16px; margin-bottom: 5px; }
.block-shipping-2 { color: #55f017; font-size: 13px; margin-bottom: 5px; }
.block-helper-3 { color: #d6c95c; font-size: 18px; margin-bottom: 5px; }
.block-validator-4 { color: #774d0e; font-size: 12px; margin-bottom: 5px; }